vagrant_the_box_v4/mule/apps/orquestrating_ms/classes/orquestrating_ms_v2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration2" host="172.17.0.5" port="8081" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="172.17.0.3" port="8082" doc:name="HTTP Request Configuration"/>
    <flow name="SignUpClientFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/sign_up_client"  doc:name="HTTP" allowedMethods="POST"/>
        <logger message="SIGN UP CLIENT" level="INFO" doc:name="Logger"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="Data was recieved: #[payload]" level="INFO" doc:name="Logger"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <custom-transformer mimeType="text/javascript" class="orquestrating_ms_v2.SignUpTransform" doc:name="Java"/>
        <logger message="MAKING CONNECTION" level="INFO" doc:name="Logger"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/sign_up_client" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="data" value="#[payload]"/>
            </http:request-builder>
        </http:request>
        <logger message="DATA: #[message.payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="GetClientFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/get_client" allowedMethods="GET" doc:name="HTTP"/>
        <logger message="GET CLIENT" level="INFO" doc:name="Logger"/>
        <logger message="Data was recieved: #[message.inboundProperties.'http.query.params'.get('data')]" level="INFO" doc:name="Logger"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.get('data')]" doc:name="Set Payload"/>
        <custom-transformer class="orquestrating_ms_v2.GetUserTransform" doc:name="Java"/>
        <logger message="MAKING CONNECTION" level="INFO" doc:name="Logger"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/get_client" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="data" value="#[payload]"/>
            </http:request-builder>
        </http:request>
        <logger message="DATA: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="DB_ResponseFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/db_response" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="RESPONSE OF GET CLIENT" level="INFO" doc:name="Logger"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="RESPONSE = #[payload]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration2" path="/db_response" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="data" value="#[payload]"/>
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="DeleteClientFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/delete_client" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="DELETE CLIENT" level="INFO" doc:name="Logger"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.get('data')]" doc:name="Set Payload"/>
        <logger message="Client to delete: #[payload]" level="INFO" doc:name="Logger"/>
        <custom-transformer mimeType="text/javascript" class="orquestrating_ms_v2.DeleteClientTransform" doc:name="Java"/>
        <logger message="MAKING CONNECTION" level="INFO" doc:name="Logger"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/delete_client" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="data" value="#[payload]"/>
            </http:request-builder>
        </http:request>
        <logger message="DATA: #[message.payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="UpdateClientFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/update_client"  doc:name="HTTP" allowedMethods="POST"/>
        <logger message="UPDATE CLIENT" level="INFO" doc:name="Logger"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="Data was recieved: #[payload]" level="INFO" doc:name="Logger"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <custom-transformer mimeType="text/javascript" class="orquestrating_ms_v2.UpdateClientTransform" doc:name="Java"/>
        <logger message="MAKING CONNECTION" level="INFO" doc:name="Logger"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/update_client" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="data" value="#[payload]"/>
            </http:request-builder>
        </http:request>
        <logger message="DATA: #[message.payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
